/*common styles*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mx-width {
  max-width: 100%;
}

.mb {
  margin-bottom: 20px !important;
}

.clearfix {
  clear: both;
}

.overlay {
  position: absolute;
  background: rgba(169, 41, 28, 0.29);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.span {
  background: #a9291c;
  width: 80px;
  height: 3px;
  display: block;
  margin: auto;
}

.hover-opacity:hover {
  opacity: .8;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.pd-y {
  padding: 120px 0;
}

.padding {
  padding: 20px 0;
}

.ltr-effect, .tb-effect {
  position: relative;
}

.ltr-effect:after, .tb-effect:after {
  position: absolute;
  content: "";
  width: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: -1;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.ltr-effect:hover:after {
  width: 100%;
}

/*top to bottom effect*/
.tb-effect:after {
  width: 100%;
  height: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.tb-effect:hover:after {
  height: 100%;
}

body {
  font-family: 'Courier Prime', monospace;
  /*navbar*/
  /*header*/
}

body .top {
  background: #a9291c;
  height: 50px;
  height: 50px;
}

body .top .icons {
  line-height: 50px;
}

body .top .icons .icon {
  color: #fff !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .top .icons .icon:hover {
  color: #333;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

body .top .contact {
  line-height: 50px;
  color: #ccc;
}

body .top .contact .icon {
  color: #fff;
  margin-right: 1%;
}

body .navbar {
  background: #fff;
}

body .navbar .nav-link {
  font-size: 20px;
  color: #a9291c !important;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

body .navbar .nav-link:hover {
  background: #fff;
  color: #a9291c;
}

body .navbar .active {
  background: #fff;
  color: #a9291c;
}

body #header {
  position: relative;
  height: 500px !important;
  background-size: cover;
  z-index: 10;
}

body #header .carousel-item {
  z-index: 20;
}

body #header .carousel-item canvas {
  z-index: 30 !important;
}

body #header .carousel-item .overlay {
  z-index: 50;
}

body #header .carousel-indicators {
  z-index: 40;
}

body #header .carousel-control-next {
  z-index: 60;
}

body #header .carousel-control-prev {
  z-index: 70;
}

body #header .home-content {
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

body #header .home-content .title {
  color: #ccc;
}

body .btn {
  width: 150px;
  height: 50px;
  color: #a9291c;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  cursor: pointer;
}

body .btn:hover {
  background: #a9291c;
  color: #ddd;
}

/*start about*/
/*portfolio*/
.about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 6, 6, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/background/about.jpeg) center/cover fixed no-repeat;
  background: linear-gradient(rgba(187, 6, 6, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background/about.jpeg) center/cover fixed no-repeat;
  -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
          clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
  color: #fff;
  margin: 444px 0 50px 0;
}

.about .section-title {
  color: #fff;
}

.about .about-info {
  color: #fff !important;
  font-size: 34px;
  width: 80%;
  margin: 30px auto;
}

/*media for phone*/
@media all and (max-width: 500px) {
  .about {
    margin: 0;
  }
  h1 {
    font-size: 30px !important;
  }
}

/*services*/
/*services*/
.services {
  height: 500px;
  background: #f2f2f2;
}

.services .item {
  position: relative;
  padding: 20px 15px 5px 70px;
  border: 1px solid #a9291c;
}

.services .item:hover {
  background: #a9291c;
  color: #fff;
}

.services .item:hover i {
  color: #fff;
}

.services .item i {
  position: absolute;
  left: 36px;
  top: 30px;
  font-size: 21px;
  color: #a9291c;
}

.services .item .item-para {
  color: #afa9a9;
}

/*end body*/
/*# sourceMappingURL=home.css.map */