
/*common styles*/
$background:#ccc;
$maincolor:#a9291c;
$maxwidth:100%;
$font-size:20px;
$fontweight:bold;
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.mx-width{
  max-width:100%;
}
.mb{
  margin-bottom: 20px !important;
}

.clearfix{
  clear: both;
}
.overlay{
  position: absolute;
  background:rgba(169, 41, 28, 0.29);
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  
}
.span{
    background:$maincolor;
    width:80px;
    height: 3px;
    display:block;
    margin:auto;
  }
  

.hover-opacity:hover{
  opacity: .8;
  transition:.5s ease-in-out
}
.pd-y{
  padding: 120px 0;
}
.padding{
  padding:20px 0;
}
.ltr-effect,.tb-effect{
  position: relative;
}
.ltr-effect:after,.tb-effect:after{
 position: absolute;
 content:"";
 width:0;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background: #333;
 z-index: -1;
 transition: width .5s;
}
.ltr-effect:hover:after{
  width:100%;
}
/*top to bottom effect*/

.tb-effect:after{
 
 width:100%;
 height:0;
 
 transition: height .5s;
}
.tb-effect:hover:after{
  height:100%;
}
body{
  font-family: 'Courier Prime', monospace;
    .top{
      background: $maincolor;
      height: 50px;;
      height: 50px;
      .icons{
        line-height: 50px;
        .icon{
        color:#fff !important;
        transition: all 1s ease;
        &:hover{
          color:#333;
          transform: rotate(20deg);
        }
        }
      
      }
      .contact{
        line-height: 50px;
         color: #ccc;
        .icon{
          color:#fff;
          margin-right: 1%;
        }
      }
    }
    /*navbar*/
    .navbar{
      background: #fff;
      .nav-link{
        font-size: 20px;
        color:$maincolor !important;
        transition: all 2s ease-in;
        &:hover{
          background: #fff;
          color:$maincolor;
        }
      
      }
      .active{
        background: #fff;
        color:$maincolor;
      }
    }
    /*header*/
    #header{
      position: relative;
      height:  500px !important;
      background-size:cover;
      z-index:10;
      
      .carousel-item {
         z-index:20;
         /*
         canvas { z-index:30 !important;}
         .overlay { z-index:50;}
      }
      .carousel-indicators { z-index:40;}
      .carousel-control-next { z-index:60;}
      .carousel-control-prev { z-index:70;}
      */
      .home-content{
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color:#fff;
      
        .title{
          color:#ccc;
        }
        
      }
    }
           .btn {
            width: 150px;
            height: 50px;
            color: $maincolor;
            font-weight: bold;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -o-border-radius: 5px;
            -moz-border-radius: 5px;
            cursor: pointer;
          &:hover {
            background: $maincolor;
            color: #ddd;
          }
        }
      }
    
    /*start about*/
     /*portfolio*/
     .about{
       background: #f8f8f8;
        
       margin:444px 0 50px 0;
       .about-image img:nth-child(2) {
        position: absolute;
        right: 0;
        bottom: -30px;
        border-radius: 0 10px 0 0;
    }
    .default-btn{
      height: 46px;
    background: $maincolor;
    /* padding: 10px 20px; */
    border-radius: 10px;
    display: block;
    width: 119px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    transition: all 2s ease-in-out;
    &:hover{
      background:none;
      border:2px solid $maincolor;
      color:$maincolor;
      text-decoration: none;
    }
    }
      .about-content{

       h2{
        text-transform: uppercase;
        margin-bottom: 13px;
        font-size: 42px;
        font-weight: 900;
        color:#ccc;
       }
       span{
        display: block;
        color: $maincolor;
        margin-bottom: 10px;
        font-size: 25px;
      }
      p{
        color: #666666;
        margin-bottom: 12px;
        line-height: 1.8;
        font-size: 15px;
    }
      }
      .about-info {
        margin:50px;
        .about-text-box{
          background-color: #ffffff;
          padding: 30px;
          margin-top: 30px;
          border-radius: 5px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
         h3{  
        text-transform: uppercase;
        position: relative;
        border-bottom: 1px solid $maincolor;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-size: 20px;
        font-weight: 900;
        margin:20px 0;
         }
    p{
      
      color:#949090;
        margin-bottom: 12px;
        line-height: 1.8;
        font-size: 15px;
        transition: 0.5s;
         font-size: 14.5px;
    }
        }
      }
    }
      
    





























































































     
    

    
    

  }/*end body*/