/*common styles*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mx-width {
  max-width: 100%;
}

.mb {
  margin-bottom: 20px !important;
}

.clearfix {
  clear: both;
}

.span {
  background: #a9291c;
  width: 80px;
  height: 3px;
  display: block;
  margin: auto;
}

.hover-opacity:hover {
  opacity: .8;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.pd-y {
  padding: 120px 0;
}

.padding {
  padding: 20px 0;
}

.ltr-effect, .tb-effect {
  position: relative;
}

.ltr-effect:after, .tb-effect:after {
  position: absolute;
  content: "";
  width: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: -1;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.ltr-effect:hover:after {
  width: 100%;
}

/*top to bottom effect*/
.tb-effect:after {
  width: 100%;
  height: 0;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.tb-effect:hover:after {
  height: 100%;
}

body {
  font-family: 'Courier Prime', monospace;
  /*navbar*/
  /*header*/
  /*start about*/
  /*portfolio*/
  /*portfolio*/
  /*start services*******/
  /*start contact*/
  /*********services*************/
}

body .top {
  background: #a9291c;
  height: 50px;
  height: 50px;
}

body .top .icons {
  line-height: 50px;
}

body .top .icons .icon {
  color: #fff !important;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body .top .icons .icon:hover {
  color: #333;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

body .top .contact {
  line-height: 50px;
  color: #ccc;
}

body .top .contact .icon {
  color: #fff;
  margin-right: 1%;
}

body .navbar {
  background: #fff;
}

body .navbar .nav-link {
  font-size: 20px;
  color: #a9291c !important;
  -webkit-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

body .navbar .nav-link:hover {
  background: #fff;
  color: #a9291c;
}

body .navbar .active {
  background: #fff;
  color: #a9291c;
}

body #header {
  position: relative;
  height: 500px !important;
  background-size: cover;
  z-index: 10;
}

body #header video {
  position: relative;
  z-index: 0;
}

body #header .overlay {
  position: absolute;
  top: 53%;
  left: 32%;
  z-index: 1;
}

body #header .overlay h1 {
  color: #fff;
}

body #header .overlay p {
  color: #ccc;
  text-align: center;
}

body #header .overlay .header-footer {
  width: 40px;
  height: 59px;
  background: none;
  position: absolute;
  bottom: -165px;
  left: 50%;
  border-radius: 20px;
  border: 1px solid #fff;
  text-align: center;
}

body #header .overlay .header-footer .scroll {
  width: 5px;
  background: #fff;
  height: 12px;
  margin: auto;
  position: relative;
  -webkit-animation: scrolling 2s infinite ease-in-out;
          animation: scrolling 2s infinite ease-in-out;
}

@-webkit-keyframes scrolling {
  0% {
    opacity: 0;
    top: 5px;
  }
  30% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 25px;
  }
}

@keyframes scrolling {
  0% {
    opacity: 0;
    top: 5px;
  }
  30% {
    opacity: 1;
    top: 10px;
  }
  100% {
    opacity: 1;
    top: 25px;
  }
}

body .about {
  margin: 259px 0 0 0;
  z-index: 2;
  background: linear-gradient(135deg, #20718a 0%, rgba(255, 50, 0, 0.71) 100%), url(../images/background/about.jpg);
  background-position: center;
  height: 500px;
  background-size: 100%;
}

body .about .about-info {
  margin-top: 100px;
  margin-left: 42px;
}

body .about .about-info h1 {
  color: #fff;
  font-weight: bold;
}

body .about .about-info P {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  width: 80%;
  font-family: Roboto;
  font-weight: bold;
}

body .about .about-info .btn-about {
  background: none;
  border: 2px solid #ccc;
  color: #fff;
  padding: 17px 41px;
  margin: 20px 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  font-weight: bold;
}

body .about .about-info .btn-about:hover {
  background: #fff;
  color: #000;
}

body .portfolio {
  background: url(../images/background/ok.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: 100%;
}

body .portfolio p {
  font-family: Nunito;
  text-transform: none;
  letter-spacing: 0;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  width: 64%;
}

body .services {
  margin-top: 50px;
}

body .services .item {
  float: left;
  width: 25%;
}

body .services .item img {
  height: 396px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(121, 89, 89, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(121, 89, 89, 0.5), rgba(0, 0, 0, 0.5));
}

body .contact {
  position: relative;
}

body .contact svg {
  height: 561px;
  width: 100%;
}

body .contact .contact-overlay .data {
  position: absolute;
  bottom: 0;
  left: 40%;
}

body .contact .contact-overlay .data h1 {
  font-family: Nunito;
  text-transform: none;
  letter-spacing: 0;
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
}

body .contact .contact-overlay .data a {
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 38px;
  border-color: rgba(255, 255, 255, 0.75);
  color: white;
  visibility: visible;
  background-color: transparent;
  display: block;
  border: 3px solid #ddd;
  height: 76px;
  width: 71%;
  text-align: center;
  line-height: 76px;
  text-decoration: none;
  font-size: 40px;
}

/*end body*/
/*# sourceMappingURL=home.css.map */