
/*common styles*/
$background:#ccc;
$maincolor:#a9291c;
$maxwidth:100%;
$font-size:20px;
$fontweight:bold;
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.mx-width{
  max-width:100%;
}
.mb{
  margin-bottom: 20px !important;
}

.clearfix{
  clear: both;
}

.span{
    background:$maincolor;
    width:80px;
    height: 3px;
    display:block;
    margin:auto;
  }
  

.hover-opacity:hover{
  opacity: .8;
  transition:.5s ease-in-out
}
.pd-y{
  padding: 120px 0;
}
.padding{
  padding:20px 0;
}
.ltr-effect,.tb-effect{
  position: relative;
}
.ltr-effect:after,.tb-effect:after{
 position: absolute;
 content:"";
 width:0;
 top:0;
 left:0;
 right:0;
 bottom:0;
 background: #333;
 z-index: -1;
 transition: width .5s;
}
.ltr-effect:hover:after{
  width:100%;
}
/*top to bottom effect*/

.tb-effect:after{
 
 width:100%;
 height:0;
 
 transition: height .5s;
}
.tb-effect:hover:after{
  height:100%;
}
body{
  font-family: 'Courier Prime', monospace;
    .top{
      background: $maincolor;
      height: 50px;;
      height: 50px;
      .icons{
        line-height: 50px;
        .icon{
        color:#fff !important;
        transition: all 1s ease;
        &:hover{
          color:#333;
          transform: rotate(20deg);
        }
        }
      
      }
      .connect{
        line-height: 50px;
         color: #ccc;
        .icon{
          color:#fff;
          margin-right: 1%;
        }
      }
    }
    /*navbar*/
    .navbar{
      background: #fff;
      .nav-link{
        font-size: 20px;
        color:$maincolor !important;
        transition: all 2s ease-in;
        &:hover{
          background: #fff;
          color:$maincolor;
        }
      
      }
      .active{
        background: #fff;
        color:$maincolor;
      }
    }
    /*header*/
    #header{
      position: relative;
      margin: -8px 0 !important;
      background-size:cover;
      z-index:10;
      video{
        position: relative;
        z-index:0;
      }
      .overlay{
        position:absolute;
        top: 53%;
        left: 32%;
       z-index:1;
       h1{
         color:#fff;
       }
       p{
         color:#ccc;
         text-align: center;
       }
       .header-footer{
        width: 40px;
        height: 59px;
        background: none;
        position: absolute;
        bottom: -165px;
        left: 50%;
        border-radius: 20px;
        border: 1px solid #fff;
        text-align: center;
        .scroll{
          width: 5px;
          background: #fff;
          height: 12px;
          margin: auto;
          position:relative;
          animation: scrolling 2s infinite ease-in-out;
      }
    }
      @keyframes scrolling{
          0%{
              opacity: 0;
              top:5px;
          }
          30%{
              opacity: 1;
              top:10px;
          }
          100%{
              opacity: 1;
              top:25px;
          }
      
      }
    }
    }
    
    
    /*start about*/
     /*portfolio*/
     .about{
      
      z-index: 2;
      background:linear-gradient(135deg,#20718a 0%,rgba(255,50,0,0.71) 100%), url(../images/background/about.jpg);
      background-position: center;
      height: 548px;
      background-size:cover;
      position: relative;
      width:100%;
      .about-info{
        margin-top:100px;
        margin-left:42px;
        h1{
          color: #fff;
        font-weight: bold;
        }
        P{
          font-size: 20px;
          color: rgba(255,255,255,0.7);
          line-height: 36px;
          width: 80%;
          font-family: Roboto;
          font-weight: bold;
          
        }
      .btn-about{
        background: none;
        border: 2px solid #ccc;
        color:#fff;
        padding: 17px 41px;
        margin: 20px 0;
        cursor: pointer;
        transition: all 1s ease;
        font-weight: bold;
        &:hover{
          background: #fff;
          color:#000;
        }
      
     }

     }
     .shape-svg{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 250px;
     }
      svg {
      width: 100%;
      height: 100%;
      fill: #fff;
      svg path{
        position: absolute;
        opacity: 0.9;
      }
     }
      
    }
    /*portfolio*/
    .portfolio{
      background: url(../images/background/ok.png);
      background-repeat: no-repeat;
      background-position: right;
      background-color: 100%;
      p{
        font-family: Nunito;
        text-transform: none;
        letter-spacing: 0;
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
        width: 64%;
        color: #333;
      }
    }
    /*start services*******/
    .services{
      margin-top:50px;
  
      .item{
        float: left;
          width: 25%;
          height: 396px;
          position: relative;
          transition: 2s all ease-in-out;
          &:hover{
            transform: scale(1.1)translate(10px);
          box-shadow:0 0 6px 2px #333;
          z-index: 120;
          }
          &:hover:after{
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
          }
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(121, 89, 89, 0.5), rgba(0, 0, 0, 0.5));
            position: absolute;
            top:0;
            left:0;
        }
        
        
        img{
          height: 396px;
          background: linear-gradient(rgba(121, 89, 89, 0.5),rgba(0,0,0,0.5));
          
        }
         h2{
          position: absolute;
          top: 30%;
          left: 8px;
          color: #fff;
          font-weight: bold;
         }  
        }
      }
      /*start works*/
      .works{
        .column{
          margin: 81px 22px !important;
          padding-top:50px;
          text-align: center;
          width: 20%;
          width: 83%;
          height: 58%;
          font-size: 21px;
          &:hover i{
            color:#fff;
          }
          i{
            color: #27CFC3;
          }
          &:hover{
            background: #27CFC3;
            color:#fff;
          }
        }
      }
      /*start contact*/
      .contact{
        position:relative;
        height: 600px;
        width: 100%;
         .shape{
          position: absolute;
          top: -13px;
          left: 0;
          width: 100%;
          height: 614px;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          background: linear-gradient(135deg, #20718a 0%, rgba(255, 50, 0, 0.71) 100%);
          svg {
            width: 100%;
            height: 100%;
            fill: #fff;
            
           path{
             position:absolute;
             opacity:0.9;
             &:first-child{top:10px}
             &:nth-child(2){top:20px}
             &:last-child{top:30px}
           }
           }
         }
          
         
        
        
          .contact-overlay{
          .data{
            
            position: absolute;
            bottom:23%;
            left:40%;
            z-index:10;
            h1{
              font-family: Nunito;
              text-transform: none;
              letter-spacing: 0;
              font-size: 48px;
              line-height: 58px;
              font-weight: 700;
              color:#fff;
            }
            a{
              margin-top: 25px;
              margin-right: 10px;
              margin-left: 38px;
              border-color: rgba(255, 255, 255, 0.75);
              color: white;
              visibility: visible;
              background-color: transparent;
              display: block;
              border: 3px solid #ddd;
              height: 76px;
              width: 71%;
              text-align:center;
              line-height: 76px;
              text-decoration: none;
            font-size: 40px;
            }
          }
        }
        }
        /*start  footer*/
        .footer{
          background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(204,204,204,1) 20%, rgba(255,255,255,1) 100%);
          color: #666666!important;
          height: 300px;
          ul{
            margin:50px auto;
          i{
            width:50px;
            height: 50px;
            line-height: 50px;
            color:#333;
            border:2px solid #fff;
            text-align: center;
            border-radius: 50%;
          }

        }
        .footer-text span{
          display: block;
          /* text-align: center; */
          transform: translate(100%, 19px);
          font-size: 26px;
        }
        footer{
          span{
            font-size: 22px;
            text-align: center;
            display: block;
          }
        }
        }
    
    





/*********services*************/

    





























































































     
    

    
    

  }/*end body*/