/* 
   Created on :
     Author : Azhar Hussain
     Email: azharhussain4647@gmail.com
     Website:
     Facebook: https://www.facebook.com/azhar.hussainmasum
*/


/*--Extra-Small Device---*/
@media (max-width:767px){
/*media for phone*/
     #header{
          height:auto;
     }
     #header .overlay {
          top: 20% !important;
          left: 27% !important;
     }
     #header .overlay h1{
          font-size: 19px;
     }
     #header .overlay p{
          font-size: 10px;
     }
     #header .overlay .header-footer{
          bottom: -50px !important;
          left: 44%;
          width:31px;
     }
     .about{
       margin:-8px !important;
       height:163vh !important;
     }
     .about .about-info{
          margin-top:50px !important;
     }
     .about  p{
          width:100% !important;
     }
     .about h1{
       font-size: 18px !important ;
     }
     .about .about-image img{
          max-width: 62% !important;
     }
     /*portfolio*/
     .portfolio .portfolio-text p{
          width:100% !important;
          font-size:18px;
     }
     .services{
          height: auto;
     }
     .services .item{
          width:100% !important;
          float: none !important;
     }
     .contact .contact-overlay .data{
          height: 58px !important;
           line-height: 62px !important;
          font-size: 25px !important;
     }
     /*contact*/
     body .contact .contact-overlay .data{
          left:31% !important;
     }
     body .contact .contact-overlay .data h1{
          font-size: 25px !important;
     }
     .contact .contact-overlay .data a{
          height: 49px !important;
          line-height: 55px !important;
          font-size: 31px !important;
     }
   
}

/* --Small Device-- */
@media (min-width:768px) and (max-width: 991px){
     #header .overlay .header-footer{
          bottom: -60px !important;
          left: 44%;
          width:31px;
     }
}

/* Medium Device */
@media (min-width:992px) and (max-width:1199px){

}

/*---Large Device---*/
@media (min-width:1200px){

}


