/* 
   Created on :
     Author : Azhar Hussain
     Email: azharhussain4647@gmail.com
     Website:
     Facebook: https://www.facebook.com/azhar.hussainmasum
*/


/*--Extra-Small Device---*/
@media (max-width:767px){
/*media for phone*/
 
     .about{
       margin:0;
     }
     h1{
       font-size: 30px !important ;
     }
     .services{
          height: auto;
     }
   
}

/* --Small Device-- */
@media (min-width:768px) and (max-width: 991px){

}

/* Medium Device */
@media (min-width:992px) and (max-width:1199px){

}

/*---Large Device---*/
@media (min-width:1200px){

}


